<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>baseURL</key>
	<string></string>
	<key>locationsPath</key>
	<string>/locations/</string>
	<key>messagesPath</key>
	<string>/messages</string>
	<key>predictionsPath</key>
	<string>/predictions/</string>
	<key>routeConfig</key>
	<string>/routeConfig</string>
	<key>schedulePath</key>
	<string>/schedule</string>
</dict>
</plist>
